/* Flex Layout */
.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.a-start {
  align-items: flex-start;
}

.a-center {
  align-items: center;
}
.a-between{
  align-items: space-between;
}

.a-end {
  align-items: flex-end;
}

.j-s__between {
  justify-content: space-between;
}

.j-s__around {
  justify-content: space-around;
}

.j-s__evenly {
  justify-content: space-evenly;
}
.j-s__end {
  justify-content: end;
}

.j-s__center {
  justify-content: center;
}

/* Font Weights */

.f-bold {
  font-weight: 700;
}

.f-semi__bold {
  font-weight: 500;
}

.f-light {
  font-weight: 300;
}
<<<<<<< HEAD
.width{

  width:100%;
}

.red{
  color: #C32422;
}
.pink{
  color:#e19291;
}
.bg-color{
  color:#ECE2D2;
}
.red-bg{
  background-color: #C32422;
}
.pink-bg{
  background-color: pink;
}
.hover1{
  color:#db7c7a;
}
.hover2{
  color: #e19291;
}
.button{
  
  border-radius: 25%;
  border:none;
  width: 90px;
  height:40px;
  
  font-family: Helvetica, sans-serif;

}

.button-text{
  font-size: 1.4rem;
}

.abs{
  position: absolute;

}
.gap{
  gap:20px;
}

.width{
  width:100;
}
.transparent{
  background-color: transparent;
}
=======

.f-wrap {
  flex-wrap: wrap;
}
>>>>>>> ec7d24c2c468d88f82f672b785896ac997eeb15f
