/* Flex Layout */
.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.a-start {
  align-items: flex-start;
}

.a-center {
  align-items: center;
}
.a-between {
  align-items: space-between;
}

.a-end {
  align-items: flex-end;
}

.j-s__between {
  justify-content: space-between;
}

.j-s__around {
  justify-content: space-around;
}

.j-s__evenly {
  justify-content: space-evenly;
}
.j-s__end {
  justify-content: end;
}

.j-s__center {
  justify-content: center;
}

/* Font Weights */

.f-bold {
  font-weight: 700;
}

.f-semi__bold {
  font-weight: 500;
}

.f-light {
  font-weight: 300;
}

.f-wrap {
  flex-wrap: wrap;
}

.hidden {
  display: none !important;
}