/*
* TYPOGRAPHY SYSTEM

* Font sizes (rem)
1 / 1.2 / 1.4 / 1.6 / 1.8 / 2 / 2.4 / 3 / 3.6 / 4.4 / 5.2 / 6.2 / 7.4 / 8.6 / 9.8

* Font weights
Default: 
Medium: 
Semi-bold: 
Bold:

* Line heights
Default: 
Small:
Medium: 1.2
Paragraph default:
Large:
Letter spacing: 

* COLORS
- Primary: 
- Tints:
- Shades: 
- Accents:
- Greys:

* SHADOWS


* BORDER-RADIUS

Default:
Medium:

* WHITESPACE
- Spacing system (px)
0.2 / 0.4 / 0.8 / 1.2 / 1.6 / 2.4 / 3.2 / 4.8 / 6.4 / 8 / 9.6 / 12.8



* Media Queries BreakPoints : 
  - 320px — 480px: Mobile devices
  - 481px — 768px: iPads, Tablets
  - 769px — 1024px: Small screens, laptops
  - 1025px — 1200px: Desktops, large screens
  - 1201px and more —  Extra large screens, TV

*/

/*
 CSS Resets : 
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1.5;
  font-size: 1.6rem;
  position: relative;
}

/*----------------- Header Section -----------------*/

.header {
  background-color: black;
  color: white;
  font-size: 2.4rem;
}

.navbar {
  padding: 18px 0;
}

.nav-links {
  gap: 3.2rem;
}

.ham-menu-container {
  width: 70px;
  display: none;
}

.logo-text {
  font-size: 3.6rem;
}

.logo-text span {
  color: orangered;
}

.nav-link:link,
.nav-link:visited {
  color: rgba(255, 68, 0, 0.775);
}

.nav-link:hover,
.nav-link:active {
  color: #fff;
}

.menu-toggle {
  display: none;
}

/*---------------Media Queries---------------*/

@media (max-width: 1200px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
  /*--------------- header---------------*/

  .navbar {
    justify-content: space-between;
    padding: 13px 20px;
  }

  .header ul {
    display: none;
  }

  .ham-menu-container {
    display: block;
    width: 55px;
    cursor: pointer;
  }

  .menu-toggle {
    position: absolute;
    background-color: rgb(46, 46, 46);
    inset: 0;
    display: flex;
    height: 100vh;
  }

  .nav-toggle-link {
    display: flex;
    justify-content: center;
  }

  .nav-toggle-link {
    display: block;
    margin: 0 auto;
  }

  /*--------------- hero section-s------
  --------*/
}

@media (max-width: 480px) {
}
