@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
/*
* TYPOGRAPHY SYSTEM
* Font sizes (rem)
1 / 1.2 / 1.4 / 1.6 / 1.8 / 2 / 2.4 / 3 / 3.6 / 4.4 / 5.2 / 6.2 / 7.4 / 8.6 / 9.8
* Font weights
Default: 
Medium: 
Semi-bold:
Bold: 700
* Line heights
Default: 
Small:
Medium: 1.2
Paragraph default:
Large:
Letter spacing: 
* COLORS
- Primary: #C32422, #e19291
- Tints: 
- Shades: 
- Accents:
- Greys:
- Background : #ECE2D2,  
* SHADOWS
* BORDER-RADIUS
Default: 
Medium: 12px
* WHITESPACE
- Spacing system (px)
0.2 / 0.4 / 0.8 / 1.2 / 1.6 / 2.4 / 3.2 / 4.8 / 6.4 / 8 / 9.6 / 12.8
* Media Queries BreakPoints : 
  - 320px — 480px: Mobile devices
  - 481px — 768px: iPads, Tablets
  - 769px — 1024px: Small screens, laptops
  - 1025px — 1200px: Desktops, large screens
  - 1201px and more —  Extra large screens, TV
*/
/*
 CSS Resets : 
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

section {
  padding: 100px;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1.5;
  font-size: 1.6rem;
  font-family: 'Inter', sans-serif;
  position: relative;
  color: var(--clrs-black-light-);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik', sans-serif !important;
}

:root {
  --clrs-primary-: #cf3e3b;
  --clrs-bg-: #ece2d2;
  --clrs-secondary-: #f68987;

  --clrs-gray-: #838383;
  --clrs-black-: #222;
  --clrs-black-light-: rgb(46, 46, 46);
  --clrs-whtie-somke-: whitesmoke;
}

/*----------------- Header Section -----------------*/

.header {
  color: white;
  background-color: var(--clrs-black-);
  color: var(--clrs-whtie-somke-);
  font-size: 2.4rem;
  border-bottom: 4px solid var(--clrs-primary-);
}

.navbar {
  padding: 18px 0;
}
.nav-links {
  gap: 3.2rem;
}

.nav-link-btns {
  gap: 5px;
}

.nav-link-btns a:link,
.nav-link-btns a:visited {
  color: var(--clrs-primary-);
  border: solid 1px transparent;
  padding: 8px 25px;
}

.nav-link-btns a:hover,
.nav-link-btns a:active {
  color: var(--clrs-secondary-);
  border: solid 1px var(--clrs-secondary-);
  border-radius: 50px;
}

.ham-menu-container {
  width: 70px;
  display: none;
}

.logo-text {
  font-size: 3.6rem;
}

.logo-text span {
  color: var(--clrs-primary-);
}

.nav-link:link,
.nav-link:visited {
  color: var(--clrs-primary-);
}

.nav-link:hover,
.nav-link:active {
  color: var(--clrs-secondary-);
}

.menu-toggle {
  display: none;
}

/*--------------- Hero Section ------
  --------*/

.hero-section {
  background-color: var(--clrs-bg-);
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.hero-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: start;
  justify-content: center;
  max-width: 1200px;
  height: 100%;
  gap: 80px;
  margin: 0 auto;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.hero-image img {
  border-radius: 16px;
}

.hero-content {
  gap: 20px;
  padding-top: 50px;
  max-width: 600px;
}

.hero-grid h1 {
  font-size: 5.2rem;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #333;
}

.hero-grid h1 span {
  color: var(--clrs-primary-);
}

.hero-description {
  font-size: 2.4rem;
  margin-bottom: 50px;
  line-height: 1.6;
}

.hero-description + div {
  gap: 10px;
}

.hero-btns {
  display: flex;
  gap: 2rem;
}

.btn:link,
.btn:visited {
  padding: 13px 30px;
  border-radius: 30px;
  font-weight: bold;
  border: 3px solid var(--clrs-primary-);
  font-size: 2rem;
}

.learn-more-btn:link,
.learn-more-btn:visited {
  background-color: transparent;
  color: var(--clrs-primary-);
  border-color: transparent !important;
}

.learn-more-btn:hover,
.learn-more-btn:active {
  border: 3px solid var(--clrs-primary-) !important;
}

.explore-btn:link,
.explore-btn:visited {
  background-color: var(--clrs-primary-);
  color: #fff;
}

.explore-btn:hover,
.explore-btn:active {
  background-color: var(--clrs-secondary-);
  border: 3px solid var(--clrs-secondary-);
}

/*--------------- About Us Section --------------*/

/*--------------- Landing Section ------
  --------*/
.landing-section {
  background-color: var(--clrs-black-);
  text-align: center;
}

.landing-section h2 {
  text-align: center;
  font-size: 4.8rem;
  color: var(--clrs-primary-);
  margin-bottom: 40px;
}

.landing-section h2 {
  padding: 30px;
}

.form {
  width: 100%;
}

.search-container {
  max-width: 50%;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.search-input {
  padding: 13px 20px;
  flex: 1.5;
}

.selection-input {
  padding: 15px;
  flex: 0.5;
  color: var(--clrs-gray-);
}

.search-input,
.selection-input {
  background-color: var(--clrs-bg-);
  border-radius: 10px;
}

.search-input:focus,
.selection-input:focus {
  outline: none;
}

hr {
  margin-bottom: 50px;
  border: none;
  height: 2px;
  background-color: var(--clrs-primary-);
  width: 50%;
}

.restaurants-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.restaurant-card-grid {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #fff;
  background-color: var(--clrs-whtie-somke-);
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  position: relative;
  gap: 30px;
}

.restaurant-card-grid img {
  height: 250px;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.restaurant-card-grid:hover {
  transform: scale(0.98);
  cursor: pointer;
  box-shadow: inset 5px 5px 30px rgba(0, 0, 0, 0.2);
}

.restaurant-content {
  color: var(--clrs-black-light-);
  padding: 10px 20px;
}

.restaurant-content h3 {
  margin-bottom: 20px;
  font-size: 2.4rem;
}

.restaurant-content p {
  text-align: start;
  font-size: 1.8rem;
  font-weight: bold;
}

.restaurant-content p span {
  color: var(--clrs-primary-);
}

.restaurant-content ul + div {
  font-size: 1.9rem;
  color: var(--clrs-primary-);
  font-weight: bold;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  padding: 0;
  max-width: 40%;
  gap: 5px;
}

.restaurent-card-btn:link,
.restaurent-card-btn:visited {
  color: var(--clrs-secondary-strong-);
  padding: 0;
  margin: 0;
  text-align: start;
  font-weight: bold;
  padding: 10px 13px;
  border-radius: 12px;
}

.restaurant-content ul li {
  margin-bottom: 1rem;
}

.restaurent-card-btn:hover,
.restaurent-card-btn:active {
  background-color: var(--clrs-black-light-);
  color: var(--clrs-whtie-somke-);
}

.restaurant-content {
  margin-bottom: 2rem;
}

/*---------------Footer---------------*/

.footer {
  background-color: var(--clrs-black-light-);
  color: var(--clrs-whtie-somke-);
  font-size: 1.6rem;
  border-top: 4px solid var(--clrs-primary-);
  padding: 40px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.scroll-to-top img {
  width: 60px;
  rotate: -90deg;
  background-color: var(--clrs-primary-);
  border-radius: 50%;
  cursor: pointer;
}

/*---------------Media Queries---------------*/
@media (max-width: 1750px) {
  .restaurants-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1250px) {
  .navbar {
    justify-content: space-betweens;
    padding: 13px 20px;
  }

  .nav-link-btns {
    display: none;
  }
}

@media (max-width: 1024px) {
  /* -- NavBar -- */
  .navbar {
    justify-content: space-between;
    padding: 13px 20px;
  }

  .header ul {
    display: none;
  }

  .search-container {
    text-align: center;
    margin: 30px auto;
  }

  hr {
    width: 100%;
  }

  .ham-menu-container {
    display: block;
    width: 55px;
    cursor: pointer;
  }

  .nav-link-btns {
    display: none;
  }

  .menu-toggle {
    position: absolute;
    background-color: var(--clrs-black-light-);
    inset: 0;
    display: flex;
    height: 100vh;
  }

  .nav-toggle-link {
    display: flex;
    justify-content: center;
  }

  .nav-toggle-link {
    display: block;
    margin: 0 auto;
  }

  .restaurants-container {
    grid-template-columns: repeat(2, 1fr);
  }

  /* Hero Section*/
  .hero-grid {
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .hero-btns {
    flex-direction: column;
    margin: 0 auto;
    gap: 10px;
  }

  .btn:link,
  .btn:visited {
    border-radius: 10px;
    font-weight: bold;
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  /*--------------- header---------------*/

  /*--------------- hero section-s------
  --------*/
  .restaurants-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 480px) {
  .search-icon {
    display: none;
  }
  .selection-input,
  .search-input {
    font-size: 1.6rem;
    overflow: hidden;
    max-width: 200px;
  }
  .restaurant-content {
    gap: 5px;
  }

  .restaurant-content h3 {
    margin-bottom: 15px;
    font-size: 2rem;
  }

  .restaurant-content p {
    font-size: 1.6rem;
  }
}
